<header class="container-fluid">
    <nav>
        <ul>
        <li><img src="assets/img/logo.svg" alt="VAYUS" width="40" height="40"></li>
        <li><strong>UDAWA Smart System - Device Interface</strong></li>
        </ul>
        <ul>
        <li><small></small></li>
        </ul>
    </nav>       
</header>
<main class="container-fluid">
    <form (submit)="login()">
    <label>
        Server Address:
        <input appAutofill [(ngModel)]="deviceAddress" name="username" type="text" autocomplete="on" required>
    </label>
    <label>
        API Key:
        <input appAutofill [(ngModel)]="apiKey" name="password" type="password" autocomplete="on" required>
    </label>
    <button type="submit">Login</button>
    </form>
    <p>{{message['code']}} {{message['msg']}}</p>
</main>