<header class="container-fluid">
<nav>
    <ul>
    <li><img src="assets/img/logo.svg" alt="UDAWA" width="40" height="40"></li>
    <li><strong>VAYUS - Versatile Ambient Sampling Unit</strong></li>
    </ul>
    <ul>
    <li><small>UT {{deviceTelemetry['uptime']}}</small></li>
    </ul>
</nav>
        
</header>
<main class="container-fluid">
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="grid">
                    <app-card-sensor [header]="'Ambient Light'" [value]="lightSensor['lux']" [unit]="'lux'" [icon]="'brightness_high'"></app-card-sensor>
                    <app-card-sensor [header]="'Ambient Temperature'" [value]="weatherSensor['celc']" [unit]="'°C'" [icon]="'device_thermostat'"></app-card-sensor>
                    <app-card-sensor [header]="'Ambient Humidity'" [value]="weatherSensor['rh']" [unit]="'%'" [icon]="'humidity_percentage'"></app-card-sensor>
                    <app-card-sensor [header]="'Air Pressure'" [value]="weatherSensor['hpa']" [unit]="'hPa'" [icon]="'tire_repair'"></app-card-sensor>
                    <app-card-sensor [header]="'Altitude Approx.'" [value]="weatherSensor['alt']" [unit]="'M'" [icon]="'altitude'"></app-card-sensor>
                </div>
            </div>
        </div>
        <details>
            <summary role="button"  class="secondary">Analyzer</summary>
            <article>
            <div class="row">
                <div class="col-sm-12 col-lg-7">
                    <div class="grid">
                        <div class="">Log Analyzer Progress {{logFileName}} / {{logLoadTS}}: {{logLoadProgress | number:'1.2-2'}}%</div>
                        <div class="" style="text-align: right;"><a href="http://{{server}}/log/{{logFileName}}.json" target="_blank"><span class="material-symbols-outlined">download</span> Download</a></div>
                    </div>
                    <div class="progressbar-border">
                        <div class="progressbar-color" style="height:24px;width:{{logLoadProgress | number:'1.2-2'}}%"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <input type="text" id="logFileName" name="logFileName" [(ngModel)]="logFileName">
                </div>
                <div class="col-sm-12 col-lg-2">
                    <button type="button" class="secondary outline" (click)="wsStreamSDCard()"><span class="material-symbols-outlined">sync</span> Load Log</button>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-sm-12 col-lg-12">
                    <app-chart-line [data]="lineChartDataLightSensor"></app-chart-line>
                    <hr>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-sm-12 col-lg-12">
                    <app-chart-line [data]="lineChartDataWeatherSensor"></app-chart-line>
                    <hr>
                </div>
            </div>
            </article>
        </details>
        <details>
            <summary role="button"  class="secondary">Config</summary>
            <div class="grid">
                <article>
                    <form>
                        <fieldset>
                            <label for="hname">Local Domain Access
                                <input type="text" id="hname" name="hname" [(ngModel)]="cfg['hname']" (change)="changeAttr()">
                            </label>
                            <label for="htP">Api Key
                                <input type="password" id="apiKey" name="apiKey" [(ngModel)]="stg['apiKey']" (change)="changeAttr()">
                            </label>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <p><small> connected to {{cfg['ap']}}, IP Address {{attr['ipad']}}</small></p>
                            <label for="wssid">Network SSID
                                <input type="text" id="wssid" name="wssid" [(ngModel)]="cfg['wssid']" (change)="changeAttr()">
                            </label>
                
                            <label for="wpass">Network Password
                                <input type="password" id="wpass" name="wpass" [(ngModel)]="cfg['wpass']" (change)="changeAttr()">
                            </label>
        
                            <p><small>Use MADAVA Cloud Plus (requres an active subscription).</small></p>
                            <label class="form-check-label" for="udawa-cfg-usecloud">{{cfg['fIoT'] ? 'ON' : 'OFF'}}
                                <input type="checkbox" role="switch" id="fIoT" name="fIoT" ng-true-value="1" ng-false-value="0" [(ngModel)]="cfg['fIoT']" (change)="changeAttr()">
                            </label>
                        </fieldset>
                        
                        <button type="button" class="secondary outline" (click)="saveConfig()">Save Config</button>
                        <hr>
                        <fieldset>
                            <label for="itW">Weather Sensor Recording Interval
                                <input type="text" id="itW" name="itW" [(ngModel)]="stg['itW']" (change)="changeAttr()">
                            </label>
        
                            <label for="itL">Light Sensor Recording Interval
                                <input type="text" id="itL" name="itL" [(ngModel)]="stg['itL']" (change)="changeAttr()">
                            </label>
                        </fieldset>
                        <button type="button" class="secondary outline" (click)="saveSettings()">Save Settings</button>
                        <hr>
                    </form>
                </article>
                <article>
                    <head><h1>Configuration Highlight</h1></head>
                    <p>Here you can change the basic device configuration. Please read the notes below to avoid losing access to your device.</p>
                    <ol>
                        <li>Use a strong but memorable username and password for the built-in web interface. For security reasons, there is no mechanism to reset or recover the password manually. The password must be reset or viewed via cloud solutions or a serial debugger.</li>
                        <li>The device is supposed to be connected to the Internet for the timing function to work properly. Please provide your WiFi SSID and password correctly. If you mistakenly input the wrong WiFi credential, the device will fail to connect, and you will lose access. The solution is that you can turn on WiFi tethering on your phone with <strong><i>UDAWA</i></strong> and <strong><i>defaultkey</i></strong> as the WiFi SSID and password. The device will auto-reconnect to that emergency network, and you can reset the access from there.</li>
                        <li>If your network connection is unreliable, please consider to add an RTC module to your device by contacting your reseller or assembler.</li>
                        <li>Some changes need reboot to take effect. Use the reboot button on the control tab.</li>
                        <li>The MADAVA Cloud Plus feature requires an active subscription. Please contact your assembler or retailer to set up your cloud account. MADAVA Cloud Plus enables you to access the system anywhere and anytime via the Internet and provides you with mobile notification and extensive data logging and reporting.</li>
                    </ol>
                    <button type="button" class="secondary outline" (click)="reboot()"><span class="material-symbols-outlined">restart_alt</span> Reboot</button>
                </article>
            </div>
        </details>
        <div class="grid">
        <article>
            <div class="grid">
            <ul>
                <li><small>{{cfg['name'] + ' (' + cfg['model'] + ') '}}</small></li>
                <li><small>{{deviceTelemetry['dts']}}</small></li>
                <li><small>{{cfg['hname']}}.local</small></li>
            </ul>
            <ul>
                <li><small>{{' Firmware v' + attr['fmVersion'] + ' ' + attr['compdate']}}</small></li>
                <li><small>IP Address {{attr['ipad']}}</small></li>
                <li><small>Connected to {{cfg['ap']}}</small></li>
            </ul>
            </div>
        </article>
        <article>
            <label for="prog-fs">
            <progress id="prog-fs" value="{{attr['dUsed']}}" max="{{attr['dSize']}}"></progress>
            Internal disk used {{attr['dUsed'] / attr['dSize'] * 100 | number:'1.2-2'}}% {{attr['dSize'] / 1024 | number:'1.2-2'}} KB
            </label>
            <hr>
            <label for="sd-fs">
            <progress id="sd-fs" value="{{attr['crUsed']}}" max="{{attr['crByte']}}"></progress>
            External disk used {{attr['crUsed'] / attr['crByte'] * 100 | number:'1.2-2'}}% {{attr['crSize']}} MB
            </label>
            <hr>
            <label for="prog-heap">
            <progress id="prog-heap" value="{{ (320000 - deviceTelemetry['heap']) }}" max="320000"></progress>
            Memory used {{(320000 - deviceTelemetry['heap']) / 320000 * 100 | number:'1.2-2'}}%
            </label>
            <hr>
            <label for="prog-signal">
            <progress id="prog-signal" value="{{ deviceTelemetry['rssi'] }}" max="100"></progress>
            Network Signal {{ deviceTelemetry['rssi'] }}%
            </label>
        </article>
        <article>
            <blockquote>
            "{{alarmMsg[alarmCode]}}"
            <footer>
                <cite>- Alarm Code: <kbd>{{alarmCode}}</kbd> - {{alarmTime}}</cite>
            </footer>
            </blockquote>
        </article>
        </div>
    </div>
</div>
</main>