::ng-deep .ct-label.ct-horizontal {
    color: #bbc6ce;
}
  
::ng-deep .ct-label.ct-vertical {
    color: #bbc6ce;
}

.m-5 {
    margin-bottom: 25px;
    margin-top: 25px;
}

.progressbar-border{
    border: 1px solid grey;
}

.progressbar-color{
    background-color: grey;
}

::ng-deep .ct-grid {
    stroke: rgb(255 255 255 / 20%);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}

::ng-deep .ct-series-a .ct-line{
    stroke: #00a79d;
}
::ng-deep .ct-series-b .ct-line{
    stroke: #1c75bc;
}
::ng-deep .ct-series-c .ct-line{
    stroke: #92278f;
}
::ng-deep .ct-series-a .ct-point {
    stroke: #00a79d;
}
::ng-deep .ct-series-b .ct-point {
    stroke: #1c75bc;
}
::ng-deep .ct-series-c .ct-point {
    stroke: #92278f;
}