<div [ngSwitch]="state">
    <article *ngSwitchCase=0 style="background-color: crimson;">
        <header><strong>{{lbl}}</strong></header>
        <h1>{{switch}} {{state == 1 ? 'ON' : 'OFF'}}</h1>
        <footer><small>{{opMode[cpM]}}</small></footer>
    </article>
    <article *ngSwitchCase=1 style="background-color: green;">
        <header><strong>{{lbl}}</strong></header>
        <h1>{{switch}} {{state == 1 ? 'ON' : 'OFF'}}</h1>
        <footer><small>{{opMode[cpM]}}</small></footer>
    </article>
</div>